<!DOCTYPE html>

<html>

<head>
    <title>{{mainHeading}}</title>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <header>
        <h1>{{mainHeading}}</h1>
    </header>
    <form id="JoinForm" action="/chat">
        <label for="displayName">Display Name</label>
        <input type="text" name="displayName" placeholder="Display Name" required>
        <label for="room">Room</label>
        <input type="text" name="room" placeholder="Room" required>
        <button type="submit">Join</button>
    </form>
    <script type="module" src="/index.js"></script>
</body>

</html>